.main-slick-slider {

  position: relative;

  .slick-slide {
    visibility: hidden;
  }
  .slick-slide.slick-active {
    visibility: visible;
  }

  .slick-slider {


    position: relative;


    //.slider-content {
    //  position: absolute;
    //  //top: 30%;
    //  //left: 70px;
    //  //width: 100%;
    //
    //  top: 20%;
    //  left: 5%;
    //  width: 100%;
    //}
    .slider-content {
      left: 70px;

      @include respond(extra-small-mobile) {
        left: 30px;
      }

      position: absolute;
      top: 50%;

      transform: translate(0, -100%);

      @media (max-width: 1024px) {
        top: 70%
      }

      @media (max-width: 991px) {
        top: 70%
      }

      @media (max-width: 425px) {
        top: 60%;
        left: 10%;
      }

      @media (max-width: 325px) {
        top: 78%;
        left: 10%;
      }

      .color-title {
        font-size: 16px;
        font-weight: 600;

        letter-spacing: 3px;
        text-transform: uppercase;

        @include respond(extra-small-mobile) {
          font-size: 10px;

          margin-bottom: 5px;
        }

        @media (max-width: 425px) {
          font-size: 8px;
        }



        &--blue {
          color: #68aaeb;
        }
      }

      .main-title {
        font-size: 40px;
        font-weight: 600;
        line-height: 1.4;

        color: black;

        @media (max-width: 991px) {
          font-size: 30px;
        }

        @media (max-width: 425px) {
          font-size: 10px;

          margin-bottom: 5px;
        }
      }

      .ih-button {


        @media (max-width: 425px) {
          font-size: 8px;

          padding: 5px 10px;
        }
      }
    }
  }

  .thumbnail-slick-slider {
    text-align: -webkit-center;

    width: 100%;
    margin: 0px;
    padding: 0px 150px !important;
    background-color: rgba(0, 0, 0, 0.3);

    position: absolute;
    bottom: 0;

    img {
      //max-width: 400px;
      overflow: hidden;
      display: block;
      width: 80%;
      ;
    }

    @media (max-width: 1024px) {
      padding: 0px 150px !important;
    }


    @media (max-width: 425px) {
      padding: 0px 100px !important;
    }

    .slick-thumb-slide {
      img {
        padding: 10px;
      }
    }

    .thumb {
      width: 70%;

      @media (max-width: 425px) {
        width: 100%;
      }
    }
  }


  .slick-next:before,
  .slick-prev:before {
    font-size: 40px;

    @media (max-width: 1024px) {
      font-size: 35px;
    }

    @media (max-width: 768px) {
      font-size: 28px;
    }

    @media (max-width: 425px) {
      font-size: 20px;
    }

    @media (max-width: 375px) {
      font-size: 15px;
    }
  }
}


.sub-slick-slider {

  .slick-prev {
    left: -52px !important;

    //@media (max-width: 576px) {
    //  left: -26px !important;
    //}

    //1200~
  }

  .slick-next:before,
  .slick-prev:before {
    content: "" !important;
  }
  .next-slick-arrow,
  .prev-slick-arrow {
    color: #000000;
    font-size: 48px;

    //@media (max-width: 576px) {
    //  font-size: 24px;
    //}
  }
}
