.main-slick-slider {

  position: relative;

  .slick-slider {

    position: relative;


    .slider-content {
      position: absolute;
      top: 50%;
      left: 70px;
      width: 100%;
    }
  }

  .thumbnail-slick-slider {
    text-align: -webkit-center;

    width: 100%;
    margin: 0px;
    padding: 0px 150px;
    background-color: rgba(0, 0, 0, 0.3);

    position: absolute;
    bottom: 0;

    img {
      //max-width: 400px;
      overflow: hidden;
      display: block;
    }

    @media (max-width: 1024px) {
      padding: 0px 100px;
    }

    @media (min-width: 768px) {
      padding: 0px 70px;
    }

    @media (max-width: 767px) {
      padding: 0px 30px;
    }

    .slick-thumb-slide {
      img {
        padding: 10px;
      }
    }
  }
}


.sub-slick-slider {

  .slick-prev {
    left: -26px !important;

    //@media (max-width: 576px) {
    //  left: -26px !important;
    //}

    //1200~
  }

  .slick-next:before,
  .slick-prev:before {
    content: "" !important;
  }
  .next-slick-arrow,
  .prev-slick-arrow {
    color: #000000;
    font-size: 24px;

    //@media (max-width: 576px) {
    //  font-size: 24px;
    //}
  }
}
