.navigation {
  position: absolute;

  padding: 0 16px;
  height: 10%;
  width: 100%;
  z-index: 999;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid rgba($white, 0.1);

  @media (max-width: 1024px) {
    height: 8%;
  }

  .navbar-logo{
    line-height: 70px;
    transition: all 0.4s;
    .logo{
      height: 55px;

      @media (max-width: 576px) {
        height: 35px;
      }
    }
    .logo-dark{
      display: none;
      @media (max-width: 991.98px) {
        display: block;
      }
    }
    .logo-light{
      display: block;
      @media (max-width: 991.98px) {
        display: none;
      }
    }
  }


  .navbar-nav{

    flex-direction: row;
    .nav-item{
      .nav-link{
        color: white;
        line-height: 58px;
        padding: 6px 16px;
        font-size: 20px;
        font-weight: 500;
        transition: all 0.4s;

        @media (max-width: 991.98px) {
          color: #555b6d;
        }

        &:hover, &.active{
          color: $primary;

          @media (max-width: 991.98px) {
            color: $primary;
          }
        }

        @media (max-width: 991.98px) {
          line-height: 28px !important;
        }
      }
    }
  }

  &.nav-sticky{
    position: fixed;

    background-color: powderblue;
    //box-shadow: $box-shadow;
    .navbar-logo{
      line-height: 60px;

      .logo-dark{
        display: $display-block;
      }
      .logo-light{
        display: $display-none;
      }
    }

    .navbar-nav {
      .nav-item {
        .nav-link{
          line-height: 48px;
          color: $header-item-color;
          &:hover, &.active{
            color: $primary;
          }
        }
      }
    }
  }
}

.navigation__page {
  height: 10%;

  background-color: powderblue;
  padding: 0 16px;
  width: 100%;
  z-index: 999;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid rgba($white, 0.1);

  //@media (max-width: 991.98px) {
  //  background-color: black;
  //}

  @media (max-width: 1024px) {
    height: 8%;
  }

  .navbar-logo{
    line-height: 70px;
    transition: all 0.4s;
    .logo{
      height: 55px;

      @media (max-width: 576px) {
        height: 35px;
      }
    }
    .logo-dark{
      display: none;
      @media (max-width: 991.98px) {
        display: block;
      }
    }
    .logo-light{
      display: block;
      @media (max-width: 991.98px) {
        display: none;
      }
    }
  }


  .navbar-nav{
    .nav-item{
      .nav-link{
        color: rgba($white, 0.6);
        line-height: 58px;
        padding: 6px 16px;
        font-weight: $font-weight-medium;
        font-size: 20px;
        transition: all 0.4s;

        @media (max-width: 991.98px) {
          color: $header-item-color;
        }

        &:hover, &.active{
          color:  rgba($white, 0.9);

          @media (max-width: 991.98px) {
            color: $primary;
          }
        }

        @media (max-width: 991.98px) {
          line-height: 28px !important;
        }
      }
    }
  }

  &.nav-sticky{
    background-color: powderblue;
    box-shadow: $box-shadow;
    .navbar-logo{
      line-height: 60px;

      .logo-dark{
        display: $display-block;
      }
      .logo-light{
        display: $display-none;
      }
    }

    .navbar-nav {
      .nav-item {
        .nav-link{
          line-height: 48px;
          color: black;
          &:hover, &.active{
            color: $primary;
          }
        }
      }
    }
  }
}

.header-content {
  &__logo {
    button {
      font-size: 30px;

      margin-right: 10px;
      padding: 0;

      color: $black--two;
      border: none;
      background: none;
    }
  }
  &__navigation {
    & > ul {
      & > li {
        display: inline-block;

        margin-right: 50px;

        text-align: left;

        @include respond(small-desktop) {
          margin-right: 30px;
        }

        & > a {
          font-size: 20px;
          font-weight: 500;
          line-height: 80px;

          position: relative;

          margin-right: 5px;

          color: white;

          &:after {
            position: absolute;
            right: 0;
            bottom: 30px;
            left: auto;

            width: 0;
            height: 1px;

            content: "";
            transition: $transition--default;

            background-color: $black--two;
          }
        }
        & > svg {
          font-size: 15px;

          transition: $transition--default;

          fill: $grey--eight;
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          & > a {
            color: #1e73be;
            &:after {
              right: auto;
              left: 0;

              width: 100%;
            }
          }
          & > svg {
            fill: $black--two;
          }

          .sub-menu {
            visibility: visible;

            margin-top: 0;

            opacity: 1;
          }
        }
      }
    }
    button {
      font-size: 30px;

      padding: 0;

      color: $black--two;
      border: none;
      background: none;
    }
  }
  &__icons {
    ul {
      li {
        display: inline-block;

        margin-right: 30px;

        @include respond(extra-small-mobile) {
          margin-right: 15px;
        }

        button {
          padding: 0;

          border: none;
          background: none;
        }
        a,
        button {
          position: relative;
          .count {
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;

            position: absolute;
            top: -5px;
            right: -10px;

            width: 16px;
            height: 16px;

            text-align: center;

            color: $white;
            border-radius: 50%;
            background-color: $red--one;
          }
          svg {
            font-size: 20px;

            fill: $black--two;

            @include respond(extra-large-mobile) {
              font-size: 25px;
            }

            @include respond(large-mobile) {
              font-size: 23px;
            }
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.sub-menu {
  position: absolute;
  z-index: 9999;

  visibility: hidden;

  margin-top: 45px;

  transition: 0.6s;

  opacity: 0;
  background-color: $white;
  box-shadow: -2px 2px 81px -27px rgba($black, 0.3);

  &--mega {
    display: flex;
    overflow: hidden;

    padding: 30px 60px;

    & > li {
      //border-right: 1px solid $grey--three;
      &:last-child {
        border-right: 0;
      }
    }

    &__title {
      & > a {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;

        margin-bottom: 20px;

        color: $black--two;
      }

      &__img {
        border: 1px solid;
        width: 50px;
        height: 50px;
        background-position: center;
        background-size: cover;
      }
    }

    &__category {
      display: inline-flex;
      li {
        position: relative;

        transition: $transition--default;
        a {
          font-size: 15px;
          line-height: 1.4;

          position: relative;

          margin-bottom: 15px;

          color: $grey;

          &:after {
            position: absolute;
            bottom: 0;
            left: 0;

            visibility: hidden;

            width: 100%;
            height: 1px;

            content: "";
            transition: $transition--default;

            opacity: 0;
            background-color: $grey--three;
          }

          &:hover {
            color: $black--two;
            &:after {
              visibility: visible;

              opacity: 1;
            }
          }
        }
        img {
          position: absolute;
          z-index: 99;
          bottom: -20px;
          left: 10%;
          top: 80%;

          visibility: hidden;

          transition: $transition--default;

          opacity: 0;
          border-radius: 5px;
          box-shadow: 0 10px 25px rgba($black, 0.2);
        }
        &:last-child {
          a {
            margin-bottom: 0;
          }
        }
        &:hover {
          img {
            bottom: -10px;

            visibility: visible;

            opacity: 1;
          }
        }
      }
    }

    &__list {
      li {
        position: relative;

        transition: $transition--default;
        a {
          font-size: 15px;
          line-height: 1.4;

          position: relative;

          margin-bottom: 15px;

          color: $grey;

          &:after {
            position: absolute;
            bottom: 0;
            left: 0;

            visibility: hidden;

            width: 100%;
            height: 1px;

            content: "";
            transition: $transition--default;

            opacity: 0;
            background-color: $grey--three;
          }

          &:hover {
            color: $black--two;
            &:after {
              visibility: visible;

              opacity: 1;
            }
          }
        }
        img {
          position: absolute;
          z-index: 99;
          bottom: -20px;
          left: 50%;

          visibility: hidden;

          transition: $transition--default;

          opacity: 0;
          border-radius: 5px;
          box-shadow: 0 10px 25px rgba($black, 0.2);
        }
        &:last-child {
          a {
            margin-bottom: 0;
          }
        }
        &:hover {
          img {
            bottom: -10px;

            visibility: visible;

            opacity: 1;
          }
        }
      }
    }

    &__image {
      position: absolute;

      padding-right: 60px;
    }

    &--column-4 {
      left: 50%;

      width: 1100px;
      max-width: 100%;

      transform: translateX(-50%);
      & > li {
        flex: 0 0 100%;

        padding: 0 30px;

        @include respond(small-desktop) {
          padding: 0 20px;
        }

        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }

    &--column-5 {
      left: 50%;

      width: 1170px;
      max-width: 100%;

      transform: translateX(-50%);
      & > li {
        flex: 0 0 20%;

        padding: 0 30px;

        @include respond(small-desktop) {
          padding: 0 20px;
        }

        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }

    &--column-row {

      background-color: powderblue;
      display: flex;
      flex-direction: column;
      left: 85%;

      width: 1170px;
      max-width: 100%;

      transform: translateX(-50%);
      //& > li {
      //  flex: 0 0 12.5%;
      //
      //  padding: 0 30px;
      //
      //  @include respond(small-desktop) {
      //    padding: 0 20px;
      //  }
      //
      //  &:first-child {
      //    padding-left: 0;
      //  }
      //  &:last-child {
      //    padding-right: 0;
      //  }
      //}

    }
  }

  &--one-column {
    min-width: 280px;
    max-width: 350px;
    padding: 30px;

    @include respond(large-desktop) {
      left: -100px;
    }

    @include respond(small-desktop) {
      min-width: 230px;
    }

    li {
      position: relative;
      & > svg {
        font-size: 12px;

        position: absolute;
        top: 5px;
        right: 0;

        fill: $grey--eight;
      }
      a {
        font-size: 15px;
        line-height: 22px;

        position: relative;

        margin-bottom: 15px;

        color: $grey;
        &:after {
          position: absolute;
          bottom: 0;
          left: 0;

          visibility: hidden;

          width: 100%;
          height: 1px;

          content: "";
          transition: $transition--default;

          opacity: 0;
          background-color: $grey--three;
        }

        &:hover {
          color: $black--two;
          &:after {
            visibility: visible;

            opacity: 1;
          }
        }
      }

      &:last-child {
        & > a {
          margin-bottom: 0;
        }
      }

      &:hover {
        & > svg {
          fill: $black--two;
        }
        .sub-menu--one-column--child-menu {
          visibility: visible;

          margin-top: 0;

          opacity: 1;
        }
      }
    }

    &--child-menu {
      position: absolute;
      z-index: 9999;
      top: -10px;
      left: 105%;

      visibility: hidden;

      margin-top: 45px;

      transition: 0.6s;

      opacity: 0;
      background-color: $white;
      box-shadow: -2px 2px 81px -27px rgba($black, 0.3);

      @include respond(small-desktop) {
        right: 110%;
        left: auto;
      }
    }
  }
}

.logo {
  line-height: 70px;

  .logo-sm {
    display: none;
  }
}

.logo-light {
  display: none;
}

.mobile-nav-btn {
  padding: 0;
  border: none;
  background: none;
  position: relative;

  svg {
    font-size: 35px;

    fill: white;
  }
}

.offcanvas-mobile-menu {
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;

  visibility: hidden;

  width: 100%;
  height: 100%;

  transition: $transition--default;

  opacity: 0;

  &.active {
    visibility: visible;

    opacity: 1;
    .offcanvas-mobile-menu__wrapper {
      transform: translateX(0);
    }

    .offcanvas-mobile-menu__overlay-close {
      visibility: visible;

      opacity: 1;
    }

    &:after {
      visibility: visible;

      opacity: 1;
    }
  }

  &:after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    content: "";
    transition: 0.3s;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__overlay-close {
    z-index: 9997;

    visibility: hidden;

    width: 100%;
    height: 100%;

    opacity: 0;
  }

  &__wrapper {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;

    width: 300px;
    max-width: 100%;
    height: 100vh;

    transition: 0.6s;
    transform: translateX(100%);
  }


  &__close {
    font-size: 30px;

    position: absolute;
    z-index: 9;
    top: 0;
    left: -60px;

    width: 60px;
    height: 58px;
    padding: 0;

    text-align: center;

    color: $white;
    border: none;
    background: $black--two;

    &:hover,
    &:focus {
      color: $white;
    }

    svg {
      font-size: 40px;
      line-height: 1;
    }

    @media (max-width: 320px) {
      margin-left: 40px;
    }
  }

  &__content-wrapper {
    overflow: auto;

    height: 100%;

    background-color: $white;
    box-shadow: 0 0 87px 0 rgba($black, 0.09);

    @media (max-width: 320px) {
      margin-left: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding: 90px 35px 70px 35px;

    @include respond(extra-small-mobile) {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  &__search {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;

    width: 100%;
    padding: 10px;

    background-color: $grey--three;

    input {
      font-size: 16px;

      display: block;

      width: 100%;
      padding: 9px 25px;

      color: $black--two;
      border: none;
      background: $grey--three;
    }

    button {
      position: absolute;
      top: 50%;
      right: 20px;

      padding: 0;

      transform: translateY(-50%);

      color: $black--two;
      border: none;
      background: none;

      svg {
        font-size: 18px;
        line-height: 40px;
      }
    }
  }

  &__navigation {
    margin-bottom: 50px;
    & > ul {
      li {
        &.menu-item-has-children {
          .mobile-sub-menu {
            visibility: hidden;

            height: 0;

            transition: 0.3s;

            opacity: 0;
          }

          &.active {
            & > .mobile-sub-menu {
              visibility: visible;

              height: 100%;

              opacity: 1;
            }
          }
        }
        & > a {
          font-weight: 600;

          font-size: 20px;

          display: block;

          padding: 10px 0;

          color: $black--two;
          &:hover {
            color: $black;
          }
        }
      }
    }

    ul {
      &.mobile-sub-menu {
        margin-left: 25px;

        transition: 0.3s;
        & > li {
          & > a {
            font-size: 18px;
            font-weight: 400;

            padding: 10px 0;
            &:hover {
              color: $black;
            }
          }
        }
      }
      li {
        &.menu-item-has-children {
          position: relative;

          display: block;
          a {
            display: block;
          }

          &.active {
            & > .menu-expand {
              i {
                &:before {
                  transform: rotate(0);
                }
              }
            }
          }

          .menu-expand {
            line-height: 50px;
            color: black;

            position: absolute;
            top: -5px;
            right: auto;
            left: 95%;

            width: 30px;
            height: 50px;

            cursor: pointer;
            text-align: center;

            i {
              position: relative;

              display: block;

              width: 10px;
              margin-top: 25px;

              transition: all 250ms ease-out;

              border-bottom: 1px solid;
              &:before {
                position: absolute;
                top: 0;

                display: block;

                width: 100%;

                content: "";
                transform: rotate(90deg);

                border-bottom: 1px solid;
              }
            }
          }
        }
      }
    }
  }

  &__widgets {
    .contact-widget {
      ul {
        li {
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          svg {
            margin-right: 7px;

            color: $black--two;
          }
        }
      }
    }
    .social-widget {
      a {
        font-size: 22px;

        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }

        &:hover {
          color: $black;
        }
      }

      &__button {

        padding: 0px;

        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          color: $black;
        }

        svg {
          font-size: 22px;

        }
      }
    }
  }

  &__middle {
    .lang-curr-style {
      .title {
        display: block;

        margin-bottom: 10px;
      }
      select {
        width: 100%;
      }
    }
  }
}

